@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Oswald:wght@300;400&display=swap');

Button {
  border-radius: 0 !important;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-align: left;
}

.color{
  background-color: #F2ECDE;
  justify-content: center;
}

.card{
  max-width: 14rem;
  min-width: 14rem;
  margin-top: 4%;
  padding: 16px;
  align-items: flex-start;
  border-style: none;
}

.align-bug {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;

}
.card-deck{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-left: 9.6px;
}

.card-body{
  padding: 0;
  padding-bottom: 10.4px;
  font-style: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: .8rem;
}

.card-img-top{
  margin-bottom: 10%;
}


#cost {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}

.column{
  width: 60%;
  background-color: #F2ECDE;
}

.h {
  font-style: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 24px;
  font-weight: 400;
}

.hello {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-style: 'Montserrat', sans-serif;
}

#collasible-nav-dropdown {
  color: inherit;

}
