@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Oswald:wght@300;400;700&display=swap');

.row{
  display: flex;
  flex-direction: row;
}
.filtered {
  width: 100%;
}

Navbar{
  width: 100%;
}

.Navbar {
  height: 8rem;
  padding: 2.4rem;
  font-size: 1.12rem;
  background-color: #DFD5C0;
}

.brand {
  font-size: 2.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.dropdown {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

}
