@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700&family=Oswald:wght@300;400;700&display=swap');

.mb-3{
  display: flex;
}

.equal {
  flex-grow: 1;
}

.cards {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  justify-content: center;
  margin-left: 5%;
}

.row {
  display: flex;
  flex-direction: row;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 65%;
}

.flex-row-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  height: auto;
  padding: 3%;
  padding-top: 5%;
  align-items: center;
}

.col-sm-4{
  max-width: 9rem;
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 3.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 1.6rem;
}

.wrapper {
  width: 40%;
  text-align: left;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  background-color: white;
}

.shoppingtitle{
  text-align: center;
  font-style: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 24px;
  font-weight: 400;
}

.form-control{
  font-weight: bolder;
  font-size: 1rem;
  max-width: 2.08rem;
  text-align: center;
}

#img {
  height: 5.6rem;
  margin-right: 1.6rem;
}


b{
  font-weight: bold;
  font-size: 16px;
}

#total{
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 16px;
  text-align: right;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  vertical-align: bottom;
  font-weight: 300;

}

.x{
  align-self: flex-start;
}

.x_style{
  color: black;
  background-color: white;
  border-style: none;
  padding-top: 0;
  text-align: right;
  font-size: 20px;
  vertical-align: text-top;
  font-weight: 200;
}

.x_style:hover{
  color: black;
  background-color: white;
  border-style: none;
  padding-top: 0;
  text-align: right;
  font-size: 30px;
  vertical-align: text-top;
}


.x_style:active{
  color: black;
  background-color: white;
  border-style: none;
  padding-top: 0;
}

.oswald {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
